name: pytest

on:
  push:
    branches:
     - main
    tags-ignore:
      - '**'
  pull_request:

jobs:
  tests:
    name: "Python ${{ matrix.py }}"
    runs-on: "ubuntu-latest"

    strategy:
      matrix:
        py: ["3.10", "3.11"]

    steps:
      - uses: "actions/checkout@v4"
      - name: Setup python for test ${{ matrix.py }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.py }}
      - name: Install dependencies for testing
        run: |
          pip install --upgrade pip
          pip install pytest pytest-md pytest-emoji
          pip install git+https://github.com/theochem/grid.git
          pip install git+https://github.com/theochem/iodata.git
          pip install git+https://github.com/theochem/gbasis.git
          pip install git+https://github.com/tovrstra/pytest-regressions@npz
      - name: Install development version
        run: |
          pip install -e .
      - name: Run pytest
        uses: pavelzw/pytest-action@v2
        with:
          verbose: true
          emoji: true
          job-summary: true
          click-to-expand: true
          report-title: 'Test Report'
